{% extends "base.html" %}
{% block title %}Choose a new password - FolioAI{% endblock %}
{% block body %}
<div class="card narrow warm">
  <h1>Choose a new password</h1>
  <p class="sub">Use at least eight characters that you do not use on another site.</p>
  <form method="post">
    {{ csrf_field() }}
    <label for="password">New password</label>
    <input id="password" name="password" type="password" autocomplete="new-password" minlength="8" maxlength="256" required autofocus>
    <button type="submit">Update password</button>
  </form>
</div>
{% endblock %}
